 <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>

<div class="gameBox">

    <div class="headings">
        <div style="font-size: 35px;font-weight: 900;">Grab 10 Groceries</div>
        <div style="font-size: 20px;font-weight: 900;">And win exciting offer</div>
    </div>
    
    <div class="container" #myElement>
        <div class="header">
            <div class="gameBlockTime">
                <div style="display: flex;align-items: center;">
                    <div  class="clock"><img src="../assets/image/clock-color-icon.svg"  alt=""></div>
                    <div class="points" style="margin-bottom: 6px;"><span>:</span>{{time}} Second</div>
                </div>
            </div>
            <div class="gameBlock">
                <div style="display: flex;">
                    <div style="width: 31px;"><img src="../assets/image/7910224.png" alt=""></div>
                    <div class="points"><span>:</span>{{fruits}}</div>
                </div>
            </div>
            <div class="gameBlock">
                <div style="display: flex;">
                    <div style="width: 31px;"><img src="../assets/image/award_medal_winner_icon_151762.png" alt="">
                    </div>
                    <div class="points"><span>:</span>{{score}}</div>
                </div>
            </div>
        </div>
       
        <div class="trolly" #trolly appDragable ><img src="../assets/image/trolly.png" alt="" ></div>

        <div class="retry" *ngIf="isVisible">
                <p class="retryGame">Game over!</p>
                <p class="score">Your score: {{score}}<p>
                <input type="submit" (click)="refreshPage()" class="retryButton" value="Retry">
        </div>


    </div>
    <div class="buttons">
        <button type="submit" (click)="refreshPage()">Reload</button>
    </div>
    

</div>